*{
    margin: 0px;
    padding: 0px;
}


.container{
    margin: auto;
    width: 75%;
}
.lego{
    border: 1px solid black;
}
.boxContainer{
    border: 3px solid black;
}
.borderBottom{
    border-bottom: 3px solid black;
}
.marginAuto{
    margin: auto;
}
.marginTop{
    margin-top: 25px;
}
.flex{
display: flex;
}
.flex1{
    flex: 1;
}
.flex2{
    flex: 2;
}
.flex3{
    flex: 3;
}
.flex4{
    flex: 4;
}
.flex5{
    flex: 5;
}
.flex{
    flex: 6;
}
.flex-end{
    justify-content: end;
}
.spaceAround{
    justify-content: space-around;
}
.spaceBetween{
    justify-content: space-between;
}
.spaceEvenly{
    justify-content: space-evenly;
}

.textAlign{
    text-align: center;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
.inlineBlock{
    display: inline-block;
}
.btn2{
    box-shadow: 2px 3px black;
}
.scroll{
    overflow-y: auto;
}


.groceryBox{
    margin-right: 25px;
}
.groceryList{
    height: 600px;
    margin-top: 10px;
    border: 3px solid black;
    overflow-y: auto;
}
.input1{
    border: none;
    width: 75%;
}
.anchor1{
    margin: 0px 10px 0px 10px;
}
.anchor2{
    margin: 0px 0px 0px 75px;
}


.mealBox{
    margin-left: 25px;
}
.mealPlan{
    height: 600px;
    margin-top: 10px;
    border: 3px solid black;
    overflow-y: auto;
}
.days{
    margin-left: 100px;
}

.anchor3{
    margin: 0px 15px;
}
.meal1{
    height: 135px;
}
.meal2{
    height: 260px;
}
.mealTime{
    position: absolute;
}
.meal4{
    margin-left: 100px;
}

.mealName{
    margin: 0px 25px;
}
.ingredientBox{
    border: 3px solid black;
    height: 400px;
    margin-top: 30px;
}
.directionBox{
    border: 3px solid black;
    margin-top: 30px;
    height: 400px;
}

/* Login */
.login{
    border: 3px solid black;
    padding: 25px;
    width: 500px;
    height: fit-content;
    margin: auto;
    margin-top: 50px;
}

/* Registration */
.registrationBox{
    border: 3px solid black;
    padding: 50px;
    width: 500px;
    height: fit-content;
    margin: auto;
    margin-top: 100px;
}


/*   Add Meal */
.addMeal{
    text-align: center;
    margin-top: 50px;
}

/* Add Store Page */
.storeBox{
    border: 3px solid black;
    margin-top: 100px;
    width: 50%;
    height: 300px;
    padding: 25px
}
